{{#if privileged}}
    {{#if error}}
        <div class="alert alert-danger mt-3" role="alert">
            {{error}}
        </div>
      {{else}}
{{#each mission}}
<div class="animate__animated animate__backInUp">
    <form action="" method="POST" class="formularzTworzeniaMisji">
        <div class="mb-3">
            <label for="nazwa" class="form-label">Nazwa*</label>
            <input
            type="text"
            class="form-control"
            name="nazwa"
            id="nazwa"
            value="{{this.nazwa}}"
            required
            />
        </div>
        <div class="mb-3">
            <label for="opis" class="form-label">Opis*</label>
            <textarea
            type="textarea"
            class="form-control"
            name="opis"
            id="opis"
            required>{{this.opis}}</textarea>
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">Status*</label>
            <select name="status" id="status" required class="form-control">
                <option value="planowana">Planowana</option>
                <option value="trwa">Trwa</option>
                <option value="zakonczona">Zakończona</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="terminRozpoczecia" class="form-label">Termin Rozpoczęcia*</label>
            <input
            type="date"
            class="form-control"
            name="terminRozpoczecia"
            id="terminRozpoczecia"
            value="{{this.terminRozpoczecia}}"  
            required
            />
        </div>
        <div class="mb-3">
            <label for="terminZakonczenia" class="form-label">Termin Zakończenia (planowany)*</label>
            <input
            type="date"
            class="form-control"
            name="terminZakonczenia"
            id="terminZakonczenia"
            value="{{this.terminZakonczenia}}" 
            required
            />
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-lg btn-primary">Potwierdź edycje</button>
        </div>
    </form>
</div>
{{/each}}
    {{/if}}
{{else}}
    <div class="alert alert-danger mt-3" role="alert">
        Nie masz uprawnień do tej strony
    </div>
{{/if}}
<div class="text-center">
    <a href="/panel">Powrót</a>
</div>