<div>
    {{#if privileged}}
        {{#each mission}}
            <h1 class="title">Szczegóły misji {{this.nazwa}}</h1>
        {{/each}}
        <div class="missions">
            <table>
                <th>ID</th>
                <th>Pełna nazwa</th>
                <th>Opis misji</th>
                <th>Status misji</th>
                <th>Termin Rozpoczęcia</th>
                <th>Termin Zakończenia</th>
                {{#each mission}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nazwa}}</td>
                        <td>{{this.opis}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.terminRozpoczecia}}</td>
                        <td>{{this.terminZakonczenia}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    <div class="crewmen">
        <h2>Załogenci</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Miejsce Zamieszkania</th>
                <th>Specjalizacja</th>
            </tr>
            </thead>
            {{#each zalogent}}
                <tr>
                    <td>{{this.idUzytkownik}}</td>
                    <td>{{this.imie}}</td>
                    <td>{{this.nazwisko}}</td>
                    <td>{{this.miasto}} {{this.kodPocztowy}} {{this.ulica}} {{this.numerDomu}} {{this.numerMieszkania}}</td>
                    <td>{{this.specjalizacja}}</td>
                </tr>
            {{/each}}
        </table>
        {{#each mission}}
        <div class="buttonCenter" id="addCrew">
            <a class="btn btn-primary btn-xl text-uppercase" role="button" href="/addCrew?id={{this.id}}" style="margin-right: 3%;">Dodaj
            załogentów</a>
        </div>
        {{/each}}
    </div>
   {{else}}
        <div class="alert alert-danger mt-3" role="alert">
        Nie masz uprawnień do tej strony
        </div>
    {{/if}}
</div>
<div class="text-center" style="margin-top: 3%">
    <a href="/panel">Powrót</a>
</div>
<style>
        body {
            font-size: 15px;
        }
        h2 {
            font-size: 21px;
            font-weight: 600;
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
        }
        div {
            background-color: #fefefe;
        }
        td {
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #111;
        }

</style>