<h1 class="title">Szczegóły misji {{this.id}}</h1>
<h2>{{this.nazwa}}</h2>
{{#if userLogin}}
    <table>
        <th>ID</th>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Status</th>
        <th>Termin Rozpoczęcia</th>
        <th>Termin Zakończenia</th>
        {{#each mission}}
            <div class="Misje">
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nazwa}}</td>
                    <td>{{this.opis}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.terminRozpoczecia}}</td>
                    <td>{{this.terminZakonczenia}}</td>
                </tr>
            </div>
        {{/each}}
    </table>
    <h2>Lista załogentów</h2>
    {{#each zalogent}}
        <div class="Misje">
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.imie}}</td>
                <td>{{this.nazwisko}}</td>
            </tr>
        </div>
    {{/each}}
{{/if}}

<div class="text-center" style="margin-top: 3%">
    <a href="/panel">Powrót</a>
</div>