<div>
    {{#if userLogin}}
        {{#each mission}}
            <h1 class="title">Szczegóły misji {{this.id}}</h1>
            <h2 class="title">{{this.nazwa}}</h2>
        {{/each}}
        <table>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Miejsce Zamieszkania</th>
            <th>Specjalizacja</th>
            <tr>
        {{#each zalogent}}
                <td>{{this.idUzytkownik}}</td>
                <td>{{this.imie}}</td>
                <td>{{this.nazwisko}}</td>
                <td>{{this.miasto}} {{this.kodPocztowy}} {{this.ulica}} {{this.numerDomu}} {{this.numerMieszkania}}</td>
                <td>{{this.specjalizacja}}</td>
            </tr>
        {{/each}}
    {{/if}}
</div>
<div class="text-center" style="margin-top: 3%">
    <a href="/panel">Powrót</a>
</div>
