<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="title">Lista Misji</h1>
{{#if userLogin}}
        <table>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Status</th>
            <th>Termin Rozpoczęcia</th>
            <th>Termin Zakończenia</th>
            <th></th>
            {{#each missions}}
                <div class="Misje">
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.nazwa}}</td>
                        <td>{{this.opis}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.terminRozpoczecia}}</td>
                        <td>{{this.terminZakonczenia}}</td>
                        <td><a href="misjaSzczegoly?id={{this.id}}">Szczegóły</td>
                    </tr>
                </div>
            {{/each}}
        </table>
    {{else}}
        <div class="alert alert-danger mt-3" role="alert">
            Nie masz uprawnień do tej strony
        </div>
    {{/if}}
    <style>
        body {
            font-size: 15px;
        }
        h2 {
            font-size: 21px;
            font-weight: 600;
        }
        h4 {
            font-size: 18px;
            font-weight: 600;
        }
        div {
            background-color: #fefefe;
        }
        td {
            padding-left: 10px;
            padding-right: 10px;
            border: 1px solid #111;
        }

    </style>
</body>
</html>